# The URL of the Grafana instance
export TF_VAR_grafana_url=
# The API key of the Grafana instance
export TF_VAR_grafana_api_key=
# IAM user like described here: https://grafana.com/docs/grafana/latest/datasources/cloudwatch/#iam-policies
export TF_VAR_access_key_grafana=
export TF_VAR_secret_key_grafana=
# Default region of the data source and also for the AWS S3 backend
export TF_VAR_region=
export TF_VAR_s3_bucket_name=
export TF_VAR_backend_key=terraform.tfstate
export AWS_ACCESS_KEY_ID=
export AWS_SECRET_ACCESS_KEY=